@use '/src/styles/mixins/responsive';

.chart {
  width: 100%;
  height: 300px;
  margin-top: 5em;
}

// .active {
//   display: flex;
// }

// @include responsive.after(SD) {
//   .chart {
//     display: flex;
//   }
// }
