@use 'styles/constants/colors';

.wrapper {
  position: relative;

  h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .buttonList {
    position: absolute;
    top: 2em;

    li {
      button {
        color: colors.$MAIN_GRAY;
      }
    }

    .active {
      color: colors.$MAIN_YELLOW;
    }

    li + li {
      margin-top: 0.5em;
    }
  }
}
