@use '/src/styles/mixins/responsive';
@use 'src/styles/constants/colors';

.wrapper {
  position: relative;

  h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .buttonList {
    position: absolute;
    top: 3em;
    z-index: 1;

    li {
      button {
        color: colors.$MAIN_GRAY;
      }
    }

    .active {
      color: colors.$MAIN_YELLOW;
    }

    li + li {
      margin-top: 0.5em;
    }
  }

  .chartWrapper {
    display: flex;
    justify-content: space-between;
    // margin-top: 1em;
  }
}
@include responsive.after(SD) {
  .wrapper {
    .buttonList {
      display: none;
    }

    .chartWrapper {
      flex-direction: row;

      // div + div {
      //   display: flex;
      // }
    }
  }
}
