// Global styles
@import 'base/reset';
@import 'base/more';
@import 'base/fonts';

body {
  max-width: 1024px;
  padding: 0 1.5em;
  margin: 0 auto;
  // background-color: #3c6ad4;
  background-color: #101039;
}
