@use 'styles/constants/colors';
@use 'weeklylist.module.scss';

.list {
  &.update {
    p {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
      font-size: 14px;
      color: colors.$MAIN_GRAY;
    }
  }
  img {
    position: absolute;
    top: 15px;
    right: -5px;
    width: 5rem;
  }
  time {
    display: inline-block;
    margin-top: 5em;
    font-size: 0.8rem;
    font-weight: 300;
    color: colors.$MAIN_GRAY;
  }
  span {
    display: flex;
    flex-direction: row;
    margin-top: 0.2em;
    font-size: 1.7rem;
    font-weight: 400;
    &::after {
      position: relative;
      right: -3px;
      bottom: -3px;
      font-size: 0.5em;
      font-weight: 400;
      color: colors.$MAIN_YELLOW;
      content: '° C';
    }
  }
}
