@use 'styles/constants/colors';

.wrapper {
  display: flex;

  li {
    margin-bottom: 2em;
  }

  li + li {
    margin-left: 2em;
  }

  button {
    font-size: 1rem;
    font-weight: 300;
    color: colors.$MAIN_GRAY;
  }

  .active {
    font-weight: 400;
    color: colors.$MAIN_YELLOW;
  }
}
