@use 'src/styles/constants/colors';

.wrapper {
  display: flex;
  margin-bottom: 3em;
  overflow-x: auto;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 140px;
    height: 150px;
    padding: 1em 1.5em;
    background-color: rgba($color: #ffffff, $alpha: 5%);
    border-radius: 2em;
  }

  li + li {
    margin-left: 1em;
  }

  img {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 5rem;
  }

  time {
    margin-top: 5em;
    font-size: 0.8rem;
    font-weight: 300;
    color: colors.$MAIN_GRAY;

    b {
      color: colors.$WHITE;
    }
  }

  span {
    display: flex;
    flex-direction: row;
    margin-top: 0.2em;
    font-size: 1.7rem;
    font-weight: 400;

    &::after {
      position: relative;
      right: -5px;
      bottom: -3px;
      font-size: 0.5em;
      font-weight: 400;
      color: colors.$MAIN_YELLOW;
      content: '° C';
    }
  }
}
