@use '/src/styles/constants/colors';

.wrapper {
  padding: 1em 1.5em;
  color: colors.$WHITE;

  header {
    h1 {
      padding-top: 0.5em;
      padding-bottom: 1.5em;
      font-size: 0.9rem;
      font-weight: 300;
      text-align: center;
      letter-spacing: 0.5px;
    }
  }
}
